# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.ipr
*.iws
out/

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Allure Reports
# =========================
allure-results/
allure-report/

# =========================
# Node
# =========================
node_modules/
npm-debug.log

# =========================
# Appium
# =========================
appium.log

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# iOS
# =========================
*.ipa
DerivedData/

# =========================
# Test artifacts
# =========================
screenshots/
videos/
reports/

# =========================
# Temporary files
# =========================
*.tmp
*.swp
*.bak
